<tr>
  <td>
    <h2>{{ this.hardware_target }}</h2>
    {% for tag in this.tags %}
      {{ tag }}
    {% endfor %}
  </td>
  <td>
    <a href="http://ftp.freedombox.org/pub/freedombox/testing-latest/{{ this.filename }}"
       class="bluebutton">
      testing img <em>({{ this.size }} MiB)</em></a>
  </td>
</tr>
