{% extends "layout.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/download-latest.css'|asseturl }}">
{% endblock %}

{% block heading %}
  <h1 class="headlinegroup">download <em>FreedomBox</em></h1>
{% endblock %}

{% block menu %}
  <div class="version">
    <h1>{{ this.release_version }}</h1>
    <time datetime="{{ this.release_date }}">
      {{ this.release_date }}
    </time>
    <a href="{{ '/download'|url }}"
       class="greenbutton">all versions</a>
  </div>
{% endblock %}

{% block content %}

  <table class="img">
    {{ this.images }}
  </table>

  <div class="lastlink">
    <a href="https://wiki.debian.org/FreedomBox/Download"
       class="greenbutton">how to verify and install</a>
  </div>

{% endblock %}
