<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{{ this.title }}{% endblock %} - freedombox.org</title>

  <link rel="stylesheet" href="{{ '/css/reset.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/latolatinfonts.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/main.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/animated-logo.css'|asseturl }}">

  {% block page_css %}
    <link rel="stylesheet" href="{{ '/css/landing.css'|asseturl }}">
  {% endblock %}
</head>

<body>
  <header>
    <div class="container">
      <a href="{{ '/'|url }}" class="logo"></a>
      <a href="{{ '/'|url }}">
        <div id="butterfly">
          <div id="wings"></div>
          <div id="wingtop"></div>
        </div>
      </a>
    </div>
  </header>

  <div class="main">
    <div class="container">

      {% block heading %}
      {% endblock %}

      {% block menu %}
      {% endblock %}

      {% block content %}
        <div class="description">
          <p>{{ this.body }}</p>
        </div>
      {% endblock %}

      {% block bottom_menu %}
      {% endblock %}

      {% block bottom_content %}
      {% endblock %}

      {% block background %}
        <div class="background-box"></div>
      {% endblock %}

    </div>
  </div>

  <footer>
    <div class="container">
      <div class="menu">
        <ul>
          <li><a href="https://wiki.debian.org/FreedomBox/QuestionsAndAnswers">
            FAQ</a>
          <li><a href="https://wiki.debian.org/FreedomBox/Manual">
            Manual</a>
          <li><a href="https://wiki.debian.org/FreedomBox">Wiki</a>
        </ul>
        <ul>
          <li><a href="https://wiki.debian.org/FreedomBox/Introduction">
            About us</a>
          <li><a href="https://wiki.debian.org/FreedomBox/Support">
            Contact</a>
          <li><a href="https://freedomboxfoundation.org/">
            FreedomBox Foundation</a>
        </ul>
        <ul>
          <li><a href="https://github.com/freedombox/">Source Code</a>
          <li><a href="https://wiki.debian.org/FreedomBox/Contribute">
            Participate</a>
          <li><a href="https://freedomboxfoundation.org/donate/">Donate</a>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
