{% extends "layout.html" %}

{% block menu %}
  <div class="buttons">
    <a href="{{ '/download'|url }}" class="bigbluebutton">download</a>
  </div>
{% endblock %}

{% block content %}
  <div class="description">
    {{ this.body }}
  </div>
{% endblock %}

{% block bottom_menu %}
  <div class="description">
    <a href="{{ '/about'|url }}" class="greenbutton">more about our project</a>
  </div>
{% endblock %}

{% block bottom_content %}
  <div class="video">
    <video width="800" height="450" controls>
      <source src="{{ 'FreedomBoxSetuplVideo2018.mp4'|asseturl }}"
	      type="video/mp4">
	Your browser does not support the video tag.
    </video>
  </div>
{% endblock %}
